<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item
      *ngFor="let recipeElem of recipes; let i = index"
      [recipe]="recipeElem"
      [index]="i"></app-recipe-item>
      <!--
        binding i with index get the index of each interation
        then pass i to the recipe item binding to the index property
        that we created on recipe-item component
       -->
  </div>
</div>
